[tool.poetry]
name = "pycvi-lib"
packages = [
    {include = "pycvi"}
]
version = "0.1.1"
description = "Internal Cluster Validity Indices in python, compatible with time-series data"
authors = ["Natacha, Galmiche <natacha.galmiche@uib.no>"]
readme = "README.md"
homepage = "https://pycvi.readthedocs.io/en/latest/"
repository = "https://github.com/nglm/pycvi"

[tool.poetry.dependencies]

# Core dependencies
python = "^3.8,<3.9"
aeon = {version = ">=0.6.0, <=0.9.0", python = "^3.8,<3.9"}

# Extra dependencies for "examples" scripts
matplotlib = {version = "^3.7", python = "^3.8,<3.9", optional = true}
scikit-learn-extra = {version = "^0.3.0", python = "^3.8,<3.9", optional = true}

# Dev dependencies for testing
[tool.poetry.group.dev.dependencies]
pandas = ">=2.0, <2.2"
pytest = ">=7.4.0, <=8.2.2"

[tool.poetry.extras]
examples = ["matplotlib", "scikit-learn-extra"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
